SUPABASE_URL=https://lmmqowhlyzrvckwibvwe.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImV4cCI6MTk4MzgxMjk5Nn0.EGIM96RAZx35lJzdJsyH-qQwv8Hdp7fsn3W0YpN81IU
TELEGRAM_BOT_TOKEN=8317441959:AAGhjTx6bNc0G0hydEjv24J5zDd5jSkJ-po
OPENROUTER_API_KEY=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
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
AI_MODEL=openai/gpt-4o-mini
